.accounts-type {
  background-color: white;
  padding: 30px 30px;
  border-radius: 5px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.accounts-cards {
  /* display: flex;
  justify-content: space-between;
  width: 100px; */
}

div p {
  margin: 0;
}


p {
  color: darkred;
  font-weight: bold;
}


div > div {
  margin-bottom: 20px;
}

mat-card {
  width: 300px;
}

.button {
  margin-left: 5px;
  background-color: rgb(189, 1, 1);
  border-radius: 8px;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px;
  cursor: pointer;
}
