<div style="display: flex; justify-content: center; padding: 50px;">
<div style="padding: 30px; background-color: white; display: flex; flex-direction: column; justify-content: space-around; align-items: start; height: 300px;width: 500px; border-radius: 5px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  <label for="" style="font-size: larger;">Name: <span style="font-weight: bolder;">{{name}}</span></label>
  <label for="" style="font-size: larger;">Mobile: <span style="font-weight: bolder;">{{mobile}}</span></label>
  <label for="" style="font-size: larger;">E-mail: <span style="font-weight: bolder;">{{email}}</span></label>
  <label for="" style="font-size: larger;">Country: <span style="font-weight: bolder;">{{country}}</span></label>
</div>
</div>
