h1 {
  color: darkred;
  text-align: center;
  font-size: 50px;
  /* padding: px; */
  background-color: white; /* Change the background color as needed */
}

.navbar {
  background-color: darkred;
  padding: 20px 40px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* orientation: landscape; */
}

.navbar-left {
  /* background-color: green; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex: 1; */
}

.navbar-left img {
  margin-right: 10px;
}

.navbar-title {
  color: white;
  font-size: 24px;
  font-weight: bold;
}


.navbar-middle {
  /* width: 100%; */
  /* height: auto; */
  /* background-color: purple; */
  /* margin: 0; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center; */
  flex: 1;/* Grow to take available space */
  margin-bottom: 0px; /* Add some space between the middle and right sections */
  width: 100px;
}


.navbar-middle ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 100px;
  display: flex;
  justify-content: end;
}

.navbar-middle li {
  /* margin-right: 20px; */
  /* margin-left: 50px; */
  padding-left: 40px;
}

.navbar-middle a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.navbar-middle .selected {
  color: rgb(228, 0, 0); /* Set the background color for the selected item */
  /* margin-right: 20px;
  margin-left: 50px; */
  margin-bottom: 0; /* Set the text color for the selected item */
}

.navbar-right {
  /* background-color: black; */
  /* flex:1; */
  /* width: 100%; */
  /* padding-right: 0px; */
}

.navbar-right button {
  background-color: rgb(189, 1, 1);
  border-radius: 8px;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px;
  cursor: pointer;
  align-items: flex-end;
  align-content: flex-end;
}



